<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.liberty.android.anyunlock"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> 
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/> 
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="AnyUnlock"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LockScreen" />
        <activity
            android:name=".AdminPermissionSet" />
        <activity
            android:name=".SettingsScreen" />
        <service
            android:name=".AnyUnlockService" />
        <receiver android:name=".AdminReceiver"
                  android:label="AnyUnlock Admin"
                  android:permission="android.permission.BIND_DEVICE_ADMIN">

                  <meta-data android:name="android.app.device_admin" 
                      android:resource="@xml/admin_turn_off" />
                
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AnyUnlockWidgetProvider" 
            android:icon="@drawable/off" >
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info" />
        </receiver>
    </application>
    <uses-sdk android:minSdkVersion="8" />
</manifest> 
